.content, .text-center, .sidebar-container {
    font-family: "Noto Serif SC", "Times New Roman", Times, serif;
}

article {
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Noto Serif SC", "Times New Roman", Times, serif;
}